################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleMode/FileContentIndex
/.vs/ConsoleMode/v16
/.vs/ConsoleMode/v17
/Base project/.vs/ConsoleMode
